.projects {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: $app-grid-gap;
	height: 700px;

	@media (max-width: 1350px) {
		grid-gap: calc($app-grid-gap / 2);
	}

	@media (max-width: 900px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 200px);
		height: unset;
	}

	&__container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		position: relative;
		cursor: pointer;
		border-radius: $border-radius-big;
		background-repeat: no-repeat;

		&:hover::before {
			background-color: rgba($primary-peach, 0.6);
		}

		&::before {
			transition: all 250ms ease-in-out;
			content: '';
			width: 100%;
			height: 100%;
			background-color: rgba($primary-black, 0.5);
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			border-radius: $border-radius-big;
		}

		&--web-design {
			grid-column: 1 / 2;
			grid-row: 1 / 3;
			background-image: url('/src/assets/home/desktop/image-web-design-large.jpg');
			background-size: 100%;

			@media (max-width: 900px) {
				grid-row: 1 / 2;
			}
		}

		&--app-design {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			background-image: url('/src/assets/home/desktop/image-app-design.jpg');
			background-size: 100%;

			@media (max-width: 900px) {
				grid-column: 1;
				grid-row: 2 / 3;
			}
		}

		&--graphic-design {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
			background-image: url('/src/assets/home/desktop/image-graphic-design.jpg');
			background-size: 100%;

			@media (max-width: 900px) {
				grid-row: 3 / 4;
				grid-column: 1;
			}
		}

		&--web-design,
		&--app-design,
		&--graphic-design {
			@media (max-width: 1350px) {
				background-position: center;
				background-size: 160%;
			}
		}
	}

	&__info {
		color: var(--primary-white);
		z-index: 1;

		&--description {
			font-size: 15px;
			letter-spacing: 5px;
		}
	}
}
